Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloud-security-posture, @davesys911, @oren-zohar, @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloud-security-posture

# Infra & devops related
/deploy/ @davesys911
/.github/ @davesys911
/.github/workflows @davesys911 @oren-zohar
Makefile @davesys911
JUSTFILE @davesys911

# Beats related
*.go @elastic/cloudbeat
go.mod @elastic/cloudbeat
go.sum @elastic/cloudbeat

cloudbeat.yaml -> yml
  Dockerfile
  Dockerfile.debug
  _meta/config/header.reference.yaml.tmpl
  cloudbeat.docker.yml
  cloudbeat.reference.yml
  cloudbeat.yml
  cloudbeat_minikube.yaml.patch
  deploy/eks/cloudbeat-ds.yaml
  deploy/k8s/cloudbeat-ds-debug.yaml
  deploy/k8s/kustomize/base/cloudbeat-ds.yaml
  docs/fields.asciidoc
  include/fields.go
  magefile.go
  tests/deploy/cloudbeat-pytest.yaml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-ds.yaml
Owners: @elastic/cloud-security-posture, @davesys911, @elastic/cloudbeat

License headers
  .github/workflows/cloudbeat-ci.yaml
  include/fields.go
Owners: @davesys911, @oren-zohar, @elastic/cloudbeat

fix manifest paths
  .github/workflows/unit-test.yaml
Owners: @davesys911, @oren-zohar

cross repo yaml alignment (2) (#9)
  .github/workflows/unit-test.yaml
Owners: @davesys911, @oren-zohar

fix actions outcome filtering
  .github/workflows/cloudbeat-ci.yaml
Owners: @davesys911, @oren-zohar

Yaml unity (#10)
  .github/workflows/cloudbeat-ci.yaml
Owners: @davesys911, @oren-zohar

add tests to rule 1.1.3
  tests/product/tests/test_rules.py
Owners: @elastic/cloud-security-posture

fix actions outcome filtering
  .github/workflows/cloudbeat-ci.yaml
Owners: @davesys911, @oren-zohar

Yaml unity (#11)
  .github/workflows/cloudbeat-ci.yaml
Owners: @davesys911, @oren-zohar

Send dataYaml updates to bundle
  beater/bundle/bundle.go
  beater/cloudbeat.go
  go.mod
  go.sum
Owners: @elastic/cloudbeat

yml fixes
  Dockerfile
  cloudbeat.reference.yml
  cloudbeat.yml
  resources/fetchers/process_fetcher.go
  tests/ci_test_env/docker-compose.yml
Owners: @elastic/cloud-security-posture, @elastic/cloudbeat

Send dataYaml updates to bundle (#86)
  beater/bundle/bundle.go
  beater/cloudbeat.go
  go.mod
  go.sum
Owners: @elastic/cloudbeat

cross repo yaml alignment (#84)
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/unit-test.yml
  JUSTFILE
  cloudbeat.reference.yml
  deploy/eks/cloudbeat-ds.yml
  deploy/k8s/kind/kind-config.yml
  deploy/k8s/kind/kind-multi.yml
  docs/fields.asciidoc
  include/fields.go
  tests/deploy.yml
  tests/deploy/k8s-cloudbeat-tests/Chart.yml
  tests/deploy/k8s-cloudbeat-tests/requirements.yml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-ds.yml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-test-configmap.yml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-test-cr.yml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-test-crb.yml
  tests/deploy/k8s-cloudbeat-tests/templates/serviceaccount.yml
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
  tests/deploy/k8s-cloudbeat-tests/values.yml
Owners: @davesys911, @oren-zohar, @elastic/cloud-security-posture, @elastic/cloudbeat

add tests to all file system rules
  tests/commonlib/docker_wrapper.py
  tests/configuration.py
  tests/deploy/cloudbeat-pytest.yml
  tests/product/tests/test_rules.py
Owners: @elastic/cloud-security-posture

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @davesys911

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @davesys911

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @davesys911

1. read logs only after the rule executed 2. fix parser error 3. beside 2 tests all passes
  tests/commonlib/io_utils.py
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yaml
  tests/product/tests/test_rules.py
Owners: @elastic/cloud-security-posture

all works
  tests/commonlib/docker_wrapper.py
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yaml
  tests/product/tests/test_rules.py
  tests/product/tests/tests/file_system/__init__.py
Owners: @elastic/cloud-security-posture

drop comment
  tests/product/tests/test_rules.py
Owners: @elastic/cloud-security-posture

add big ref
  tests/product/tests/test_rules.py
Owners: @elastic/cloud-security-posture

debug helm
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yaml
  tests/deploy/values/ci.yml
Owners: @elastic/cloud-security-posture
