Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

use same err var
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

cr
  deploy/cloudformation/README.md
  deploy/vulnerability/README.md
Owners: @elastic/csp-ops

added links
  deploy/cloudformation/README.md
  deploy/vulnerability/README.md
Owners: @elastic/csp-ops

Add pagination in RDS provider to describe DB instances (#918)
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

cr
  deploy/cloudformation/README.md
  deploy/vulnerability/README.md
Owners: @elastic/csp-ops

Document ways to run vulnerability management (#917)
  deploy/cloudformation/README.md
  deploy/vulnerability/README.md
Owners: @elastic/csp-ops

Add pagination in RDS provider to describe DB instances (#918)
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

aws functional tests documentation (#891)
  tests/README.md
Owners: @elastic/csp-automation

recover when trivy panics
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

update instance to 3rd gen
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

[Release] Update version to 8.7.2 (#860)
  version/version.go
Owners: @elastic/cloudbeat

[CNVM] Update cloudformation ec2 instance type (#923)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

test snyk with bad dockerfile
  Dockerfile
Owners: @elastic/cloudbeat

[CNVM] Recover when trivy panics (#922)
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

[CNVM] Recover when trivy panics (#922)
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

access_analyzer: Use arrays instead of map (#916)
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_analyzer_client.go
Owners: @elastic/cloudbeat

access_analyzer: Use arrays instead of map (#916)
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_analyzer_client.go
Owners: @elastic/cloudbeat

fix runner to download db
  vulnerability/runner.go
Owners: @elastic/cloudbeat

update timeout and add logs
  resources/providers/awslib/ec2/ebs_snapshot.go
  vulnerability/scanner.go
  vulnerability/verifier.go
Owners: @elastic/cloudbeat

Trivy bump to 0.41 (#911)
  go.mod
  go.sum
  vulnerability/runner.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

Update scanner.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

add package
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

[CNVM] Update snapshot creation timeout and add logs (#930)
  resources/providers/awslib/ec2/ebs_snapshot.go
  vulnerability/scanner.go
  vulnerability/verifier.go
Owners: @elastic/cloudbeat

[CNVM] Update snapshot creation timeout and add logs (#930)
  resources/providers/awslib/ec2/ebs_snapshot.go
  vulnerability/scanner.go
  vulnerability/verifier.go
Owners: @elastic/cloudbeat

test-environment flow initial commit
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

Update CNVM findings schema (#912)
  bin/.elastic-package-0.78.0.pkg
  bin/elastic-package
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Update CNVM findings schema (#912)
  bin/.elastic-package-0.78.0.pkg
  bin/elastic-package
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

upgrade terraform to latest version 1.4.6
  bin/.terraform-1.4.6.pkg
  bin/terraform
Owners: @elastic/cloudbeat

update hermit terraform package and add steps to flow
  .github/workflows/test-environment.yml
  bin/.terraform-1.4.6.pkg
  bin/terraform
Owners: @elastic/cloudbeat

update workflow output vars
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update actions naming
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update output and env vars
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update setup job
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

add artifact server parameter
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

remove pre-release options
  deploy/cloudformation/config.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

support art server
  deploy/cloudformation/config.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

add readme
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

Accept ElasticArtifactServer as a CloudFormation parameter (#939)
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

Accept ElasticArtifactServer as a CloudFormation parameter (#939)
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

add temporary check
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
