Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

update identifier
  tests/product/tests/test_aws_monitoring_rules.py
Owners: @elastic/csp-automation

add aws monitoring rules tests (#829)
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
  tests/product/tests/test_aws_monitoring_rules.py
  tests/pyproject.toml
Owners: @elastic/csp-automation

sync.RWMutex
  resources/providers/awslib/cached_region_selector.go
Owners: @elastic/cloudbeat

fix eviction bug and test
  resources/providers/awslib/cached_region_selector.go
  resources/providers/awslib/cached_region_selector_test.go
Owners: @elastic/cloudbeat

Update dev-docs/cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Update dev-docs/cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Update dev-docs/cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Current region selector for multi-region infra (#818)
  resources/fetching/fetcher.go
  resources/providers/awslib/all_region_selecot_test.go
  resources/providers/awslib/all_region_selector.go
  resources/providers/awslib/cached_region_selector.go
  resources/providers/awslib/cached_region_selector_test.go
  resources/providers/awslib/cloudtrail/cloudtrail.go
  resources/providers/awslib/cloudwatch/cloudwatch.go
  resources/providers/awslib/cloudwatch/logs/logs.go
  resources/providers/awslib/config_provider_test.go
  resources/providers/awslib/configservice/configservice.go
  resources/providers/awslib/current_region_selecot_test.go
  resources/providers/awslib/current_region_selector.go
  resources/providers/awslib/ec2/ebs_snapshot.go
  resources/providers/awslib/ec2/ec2.go
  resources/providers/awslib/ec2/ec2_instance.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/mock_cross_region_factory.go
  resources/providers/awslib/mock_current_cloud_region.go
  resources/providers/awslib/mock_describe_cloud_regions.go
  resources/providers/awslib/mock_regions_selector.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/sns/sns.go
  resources/providers/cluster_provider_test.go
  vulnerability/fetcher.go
  vulnerability/mock_instances_provider.go
  vulnerability/mock_snapshot_provider.go
  vulnerability/replicator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

arm ec2
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

remove creds provider
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

descriptinstances
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

[Release] Update version to 8.7.1 (#718)
  version/version.go
Owners: @elastic/cloudbeat

Fix various typos
  cmd/root.go
  launcher/launcher.go
  resources/fetchersManager/data.go
Owners: @elastic/cloudbeat

Add .dockerignore to speed-up docker builds
  .dockerignore
Owners: @elastic/cloudbeat

Publish CloudFormation template to prod S3 bucket (#828)
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

timeout 120
  tests/integration/tests/test_standalone_agent_integration.py
Owners: @elastic/csp-automation

Revert "timeout 120"
  tests/integration/tests/test_standalone_agent_integration.py
Owners: @elastic/csp-automation

add tmate session
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

comment agent delete operation
  tests/integration/tests/conftest.py
Owners: @elastic/csp-automation

set only agent tests on CI
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

update query time range
  tests/commonlib/elastic_wrapper.py
Owners: @elastic/csp-automation

CloudFormation template runs arm64 (#831)
  deploy/cloudformation/elastic-agent-ec2.yml
  vulnerability/scanner.go
Owners: @elastic/csp-ops, @elastic/cloudbeat

revert changes
  .github/workflows/k8s-ci.yml
  tests/integration/tests/conftest.py
Owners: @elastic/cloudbeat, @elastic/csp-automation

revert changes
  tests/integration/tests/conftest.py
Owners: @elastic/csp-automation

revert changes
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

update waiting timeout
  tests/integration/tests/conftest.py
Owners: @elastic/csp-automation

pre-merge agent tests failure (#839)
  tests/commonlib/elastic_wrapper.py
  tests/integration/tests/conftest.py
Owners: @elastic/csp-automation

fix: set opa version (#805)
  .github/workflows/periodic-ci.yml
Owners: @elastic/cloudbeat

CSPM on cloud deployment instructions (#789)
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

add aws tests execution on CI
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/aws.creds
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
  deploy/kustomize/overlays/cloudbeat-aws/daemonset.yml
  deploy/kustomize/overlays/cloudbeat-aws/kustomization.yml
  deploy/kustomize/overlays/cloudbeat-aws/patches/patch-elastic-creds.yml
  justfile
  tests/configuration.py
  tests/deploy/values/ci-aws-services.yml
  tests/integration/tests/test_cloudbeat_integration.py
  tests/product/tests/data/aws/aws_ec2_test_cases.py
Owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

add aws creds
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

update just command
  justfile
Owners: @elastic/cloudbeat

Add S3 public access block config fetching
  go.mod
  go.sum
  resources/fetchers/logging_factory.go
  resources/fetchers/s3_factory.go
  resources/fetchers/s3_factory_test.go
  resources/providers/aws_cis/logging/logging.go
  resources/providers/awslib/s3/mock_client.go
  resources/providers/awslib/s3/mock_control_client.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
  version/policy.go
Owners: @elastic/cloudbeat

Bump policy version
  version/policy.go
Owners: @elastic/cloudbeat

unique id
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Review fixes
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
Owners: @elastic/cloudbeat

Add S3 public access block config fetching (#842)
  go.mod
  go.sum
  resources/fetchers/logging_factory.go
  resources/fetchers/s3_factory.go
  resources/fetchers/s3_factory_test.go
  resources/providers/aws_cis/logging/logging.go
  resources/providers/awslib/s3/mock_client.go
  resources/providers/awslib/s3/mock_control_client.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
  version/policy.go
Owners: @elastic/cloudbeat

Fix various typos (#836)
  cmd/root.go
  launcher/launcher.go
  resources/fetchersManager/data.go
Owners: @elastic/cloudbeat

Add .dockerignore to speed-up docker builds (#838)
  .dockerignore
Owners: @elastic/cloudbeat
