Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Moving scripts to the weekly directory
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/agent_policy_vanilla.json
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

Updating executing permissions
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

Update local variable to lower_case
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

updating path
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

Updating path
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

fix: concurrency in multi region fetch
  resources/providers/awslib/multi_region.go
Owners: @elastic/cloudbeat

Fixing path
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Updating to full path
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/deploy_agent_on_ec2.sh
Owners: @elastic/csp-ops

Updating to full path
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Updating CI to full path
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

using variable
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

using variable
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

flow without agent deployment
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

feat: add -race to ci
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

fix: concurrency in data fetcher
  resources/fetchersManager/data.go
Owners: @elastic/cloudbeat

Fixing integration
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

Eks add skip tests (#720)
  tests/product/tests/data/k8s_object/eks_k8s_object_test_cases.py
  tests/product/tests/data/process/eks_process_test_cases.py
Owners: @elastic/csp-automation

Update CI to full E2E
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/deploy_agent_on_ec2.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

Fixing show manifest file step
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

update ci
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Deploy yaml file
  deploy/weekly-environment/cloudbeat-ds.yaml
Owners: @elastic/csp-ops

Another try
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

updating deployment file
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/cloudbeat-ds.yaml
Owners: @elastic/cloudbeat, @elastic/csp-ops

Remove image replacement
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Remove secret echo to file
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to solve ssh issue
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to solve ssh issue
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding the entire flow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Comment out terraform
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Remove echo
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Strict host checking false
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to use package for copy the file
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Remove working directory
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Remove working directory
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Update scp use
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Update scp use
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Fixing Ci
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Fixing Ci
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Remove package
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Updating ssh command
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
