Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

Update weekly-enviroment.yml EC parameter name
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Update weekly-enviroment.yml EC2 Private key parameter name
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

merge vanilla to mine
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding the image replace flow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Revert weekly environment to use same image
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to upgrade the flow to SNAPSHOT 8.7
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
  deploy/weekly-environment/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

removing manifest file
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/manifest.yaml
Owners: @elastic/csp-ops

fixing spaces
  deploy/weekly-environment/variables.tf
Owners: @elastic/csp-ops

action: bump-golang with service account
  .ci/bump-golang.yml
  .github/workflows/bump-golang.yml
Owners: @elastic/csp-ops, @elastic/cloudbeat

Trying to upgrade the flow to SNAPSHOT 8.7.0
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

[Release] Update version to 8.6.3 (#722)
  version/version.go
Owners: @elastic/cloudbeat

apply review comments
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

fix wrong quoting
  .ci/bump-golang.yml
Owners: @elastic/csp-ops

first working version of setting rules
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/slack_connector.json
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/vanilla_rules.ndjson
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

Trying to use Hermit without Terraform setup step
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Updating hermit path
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

using Hermit
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

feat: test cloudbeat also with -race flag
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

fix: concurrency in `awslib.MultiRegionFetch`
  resources/providers/awslib/multi_region.go
Owners: @elastic/cloudbeat

fix: concurrency in `fetchersManager.Data`
  beater/cloudbeat.go
  resources/fetchersManager/data.go
  resources/fetchersManager/data_test.go
  resources/fetchersManager/mock_stop.go
Owners: @elastic/cloudbeat

refactor: replace time.After with time.NewTimer
  resources/fetchersManager/data.go
Owners: @elastic/cloudbeat

refactor: use atomic
  resources/fetchersManager/data.go
Owners: @elastic/cloudbeat

Update Hermit env vars
  bin/hermit.hcl
Owners: @elastic/cloudbeat

Fix concurrency (#748)
  .github/workflows/unit-test.yml
  beater/cloudbeat.go
  resources/fetchersManager/data.go
  resources/fetchersManager/data_test.go
  resources/fetchersManager/mock_stop.go
  resources/providers/awslib/multi_region.go
Owners: @elastic/cloudbeat

Update Hermit env vars (#760)
  bin/hermit.hcl
Owners: @elastic/cloudbeat

Run terraform format
  deploy/cloud/modules/api/terraform.tf
  deploy/cloud/modules/provision-apps/aws-ebs-csi-driver.tf
  deploy/cloud/modules/provision-apps/nginx-ingress.tf
  deploy/cloud/modules/provision-apps/terraform.tf
  deploy/cloud/modules/provision-apps/variables.tf
Owners: @elastic/csp-ops

Adding lint for terraform
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

fix bugs
  resources/fetchers/monitoring_fetcher.go
  resources/fetching/fetcher.go
  resources/providers/awslib/securityhub/securityhub.go
Owners: @elastic/cloudbeat

add re-run option
  bin/hermit.hcl
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Owners: @elastic/cloudbeat, @elastic/csp-automation

update args
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Owners: @elastic/csp-automation

update args
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Owners: @elastic/csp-automation

update unit tests
  resources/fetchers/monitoring_fetcher_test.go
Owners: @elastic/cloudbeat

update args
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Owners: @elastic/csp-automation

revert changes and use pytest-rerunfailures
  tests/poetry.lock
  tests/product/tests/test_process_etcd_rules.py
  tests/pyproject.toml
Owners: @elastic/csp-automation

Bumping version and rename type
  .go-version
  cloudbeat.yml
  config/config.go
  docs/version.asciidoc
  go.mod
Owners: @elastic/cloudbeat

update data adapter
  resources/fetchers/monitoring_factory.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
  resources/providers/awslib/securityhub/securityhub.go
  version/policy.go
Owners: @elastic/cloudbeat

lowercase accountid
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
Owners: @elastic/cloudbeat

Fixing go tidy
  go.sum
Owners: @elastic/cloudbeat

Initial vulnerability push
  beater/beater.go
  beater/beater_test.go
  cloudbeat.yml
  config/config.go
  flavors/cloudbeat.go
  flavors/flavors.go
  flavors/vulnerability.go
  go.mod
  go.sum
  resources/providers/awslib/ec2/provider.go
  vulnerability/evaluator.go
  vulnerability/fetcher.go
  vulnerability/replicator.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Fixing CR rebase
  beater/beater.go
  mocks/provider.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat
