Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Update cspm-on-cloud-deployment.MD
  dev-docs/cspm-on-cloud-deployment.MD
Owners: @elastic/cloudbeat

Rename cspm-on-cloud-deployment.MD to cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.md
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

Change trigger for CloudFormation template upload to S3 (#788)
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

rename deployment -> type
  beater/beater.go
  config/config.go
Owners: @elastic/cloudbeat

rename vuln
  config/config.go
Owners: @elastic/cloudbeat

add dep
  config/config.go
Owners: @elastic/cloudbeat

Rename deployment to type as in integration (#793)
  beater/beater.go
  config/config.go
Owners: @elastic/cloudbeat

bumped
  go.mod
  go.sum
Owners: @elastic/cloudbeat

add gomod
  go.mod
Owners: @elastic/cloudbeat

@gurevichdmitry CR changes
  .github/workflows/k8s-ci.yml
  .github/workflows/update-beats.yml
Owners: @elastic/cloudbeat

remove update-beats.yml
  .github/workflows/update-beats.yml
Owners: @elastic/cloudbeat

tidy
  go.mod
  go.sum
Owners: @elastic/cloudbeat

implement tests for AWS Rules 2.1.1-2.1.3
  tests/product/tests/data/aws/aws_s3_test_cases.py
Owners: @elastic/csp-automation

mage config
  cloudbeat.reference.yml
Owners: @elastic/cloudbeat

fix yml
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

Splitting K8s Vanilla functional tests to a separate workflow (#785)
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/periodic-ci.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/unit-test.yml
  .github/workflows/weekly-enviroment.yml
  tests/commonlib/kubernetes.py
Owners: @elastic/cloudbeat, @elastic/csp-automation

implement tests for AWS Rules 2.1.1-2.1.3 (#795)
  tests/product/tests/data/aws/aws_s3_test_cases.py
Owners: @elastic/csp-automation

implement tests for aws iam management rules
  tests/commonlib/utils.py
  tests/product/tests/data/aws/aws_iam_test_cases.py
  tests/product/tests/test_aws_iam_management_rules.py
  tests/pyproject.toml
Owners: @elastic/csp-automation

action: bump-golang with service account (#749)
  .ci/bump-golang.yml
  .github/workflows/bump-golang.yml
Owners: @elastic/csp-ops, @elastic/cloudbeat

Fix Build step for EKS-CI
  .github/workflows/eks-ci.yml
Owners: @elastic/cloudbeat

Bump beats lib to support Unlicensed license (#794)
  cloudbeat.reference.yml
  go.mod
  go.sum
Owners: @elastic/cloudbeat

skip db update on scanner
  flavors/vulnerability.go
  vulnerability/runner.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Fix Build step for EKS-CI (#797)
  .github/workflows/eks-ci.yml
Owners: @elastic/cloudbeat

implement tests additional cases for iam management
  tests/commonlib/utils.py
  tests/product/tests/data/aws/aws_iam_test_cases.py
Owners: @elastic/csp-automation

refactor: inject env data provider
  dataprovider/aws_data_provider.go
  dataprovider/aws_data_provider_test.go
  dataprovider/common_data_provider.go
  dataprovider/common_data_provider_test.go
  dataprovider/data_provider.go
  dataprovider/k8s_data_provider.go
  dataprovider/k8s_data_provider_test.go
  dataprovider/mock_common_data.go
  dataprovider/mock_common_data_provider.go
  dataprovider/mock_environment_common_data_provider.go
  dataprovider/providers/aws/data_provider.go
  dataprovider/providers/aws/data_provider_test.go
  dataprovider/providers/aws/mock_option.go
  dataprovider/providers/aws/option.go
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  dataprovider/providers/k8s/mock_option.go
  dataprovider/providers/k8s/option.go
  dataprovider/types/data.go
  flavors/posture.go
  transformer/events_creator.go
  transformer/events_creator_test.go
Owners: @elastic/cloudbeat

Refactor dataprovider (#792)
  dataprovider/aws_data_provider.go
  dataprovider/aws_data_provider_test.go
  dataprovider/common_data_provider.go
  dataprovider/common_data_provider_test.go
  dataprovider/data_provider.go
  dataprovider/k8s_data_provider.go
  dataprovider/k8s_data_provider_test.go
  dataprovider/mock_common_data.go
  dataprovider/mock_common_data_provider.go
  dataprovider/mock_environment_common_data_provider.go
  dataprovider/providers/aws/data_provider.go
  dataprovider/providers/aws/data_provider_test.go
  dataprovider/providers/aws/mock_option.go
  dataprovider/providers/aws/option.go
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  dataprovider/providers/k8s/mock_option.go
  dataprovider/providers/k8s/option.go
  dataprovider/types/data.go
  flavors/posture.go
  transformer/events_creator.go
  transformer/events_creator_test.go
Owners: @elastic/cloudbeat

implement tests cases 1.10-1.15 for iam management
  tests/product/tests/data/aws/aws_iam_test_cases.py
Owners: @elastic/csp-automation

rename evaluate
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

bump beats
  go.mod
  go.sum
Owners: @elastic/cloudbeat

positive ticker
  flavors/vulnerability.go
Owners: @elastic/cloudbeat

remove download only flag
  vulnerability/runner.go
Owners: @elastic/cloudbeat

Fix empty ID for monitoring resources
  resources/fetchers/monitoring_fetcher.go
Owners: @elastic/cloudbeat

Bump go-licence-detector to support license.mit files (#801)
  go.mod
  go.sum
Owners: @elastic/cloudbeat

Fix tests
  resources/fetchers/monitoring_fetcher_test.go
Owners: @elastic/cloudbeat

extract to iteration func
  flavors/vulnerability.go
Owners: @elastic/cloudbeat

Fix tests
  resources/fetchers/monitoring_fetcher_test.go
Owners: @elastic/cloudbeat

Fix empty ID for monitoring resources (#802)
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
