Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

cloudformation: Change dev deployment script (#956)
  .github/workflows/k8s-ci.yml
  .pre-commit-config.yaml
  Makefile
  bin/.yq@4.33.pkg
  bin/yq
  deploy/cloudformation/.gitignore
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
  deploy/cloudformation/mock_dev_modifier.go
  dev-docs/cspm-on-cloud-deployment.md
  go.mod
  go.sum
Owners: @elastic/cloudbeat, @elastic/csp-ops

update cluster and tests data
  tests/configuration.py
  tests/deploy/aws/eks_config/test-eks-config-1-node-1-10-kubelet-args.conf
  tests/deploy/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
Owners: @elastic/csp-automation

skip test
  tests/product/tests/data/aws/managed_services_test_cases.py
Owners: @elastic/csp-automation

CloudFormation: Add CSPM integration option
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

Fix eks config 1 (#960)
  tests/configuration.py
  tests/deploy/aws/eks_config/test-eks-config-1-node-1-10-kubelet-args.conf
  tests/deploy/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
  tests/product/tests/data/aws/managed_services_test_cases.py
Owners: @elastic/csp-automation

CloudFormation script: Fix artifact server not being optional
  deploy/cloudformation/config.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

Add missing functional tests for CIS AWS 1.16, 1.17, 1.20 (#904)
  tests/product/tests/data/aws/aws_iam_test_cases.py
Owners: @elastic/csp-automation

readme
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

CloudFormation script: Fix artifact server not being optional (#962)
  deploy/cloudformation/config.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

renamevar
  vulnerability/worker.go
Owners: @elastic/cloudbeat

rekor
  vulnerability/db.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

refactor module.api
  deploy/cloud/data/agent_policy_eks.json
  deploy/cloud/data/agent_policy_vanilla.json
  deploy/cloud/data/package_policy_eks.json
  deploy/cloud/data/package_policy_vanilla.json
  deploy/cloud/main.tf
  deploy/cloud/modules/api/main.tf
  deploy/cloud/modules/api/modules/eks/main.tf
  deploy/cloud/modules/api/modules/eks/outputs.tf
  deploy/cloud/modules/api/modules/eks/terraform.tf
  deploy/cloud/modules/api/modules/eks/variables.tf
  deploy/cloud/modules/api/modules/vanilla/main.tf
  deploy/cloud/modules/api/modules/vanilla/outputs.tf
  deploy/cloud/modules/api/modules/vanilla/terraform.tf
  deploy/cloud/modules/api/modules/vanilla/variables.tf
  deploy/cloud/modules/api/output.tf
  deploy/cloud/modules/api/outputs.tf
  deploy/cloud/modules/ec2/main.tf
  deploy/cloud/modules/ec2/variables.tf
  deploy/cloud/outputs.tf
  deploy/cloud/variables.tf
Owners: @elastic/csp-ops

rename
  deploy/cloud/modules/api/outputs.tf
Owners: @elastic/csp-ops

Added cspm deployment
  deploy/cloud/data/agent_policy_cspm_aws.json
  deploy/cloud/data/package_policy_cspm_aws.json
  deploy/cloud/main.tf
  deploy/cloud/modules/api/main.tf
  deploy/cloud/modules/api/modules/cspm_aws/main.tf
  deploy/cloud/modules/api/modules/cspm_aws/outputs.tf
  deploy/cloud/modules/api/modules/cspm_aws/terraform.tf
  deploy/cloud/modules/api/modules/cspm_aws/variables.tf
  deploy/cloud/modules/api/outputs.tf
  deploy/cloud/modules/ec2/main.tf
  deploy/cloud/modules/ec2/variables.tf
  deploy/cloud/outputs.tf
Owners: @elastic/csp-ops

another way to fix the tuple voodoo
  deploy/cloud/modules/api/outputs.tf
  deploy/cloud/outputs.tf
Owners: @elastic/csp-ops

fixed linter
  deploy/cloud/main.tf
  deploy/cloud/modules/api/modules/eks/main.tf
  deploy/cloud/modules/api/modules/eks/variables.tf
  deploy/cloud/modules/api/modules/vanilla/main.tf
  deploy/cloud/modules/api/modules/vanilla/variables.tf
  deploy/cloud/modules/api/variables.tf
Owners: @elastic/csp-ops

fixed lint issues
  deploy/cloud/modules/api/modules/cspm_aws/main.tf
  deploy/cloud/modules/api/modules/cspm_aws/variables.tf
  deploy/cloud/modules/api/modules/eks/main.tf
  deploy/cloud/modules/api/modules/eks/variables.tf
  deploy/cloud/modules/api/modules/vanilla/main.tf
  deploy/cloud/modules/api/modules/vanilla/variables.tf
  deploy/cloud/modules/api/variables.tf
Owners: @elastic/csp-ops

return cacheDir
  vulnerability/db.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

v
  vulnerability/db.go
Owners: @elastic/cloudbeat

fixed docker cmd
  deploy/cloud/modules/api/modules/cspm_aws/main.tf
Owners: @elastic/csp-ops

fixed cspm permissions
  deploy/cloud/data/package_policy_cspm_aws.json
  deploy/cloud/modules/api/main.tf
  deploy/cloud/modules/api/modules/cspm_aws/main.tf
  deploy/cloud/modules/api/modules/cspm_aws/variables.tf
  deploy/cloud/modules/ec2/main.tf
Owners: @elastic/csp-ops

S3 provider handles missing public access block config better
  resources/providers/awslib/s3/provider.go
  version/policy.go
Owners: @elastic/cloudbeat

S3 provider handles missing public access block config better (#971)
  resources/providers/awslib/s3/provider.go
  version/policy.go
Owners: @elastic/cloudbeat

S3 provider handles missing public access block config better (#971)
  resources/providers/awslib/s3/provider.go
  version/policy.go
Owners: @elastic/cloudbeat

CloudFormation: Add CSPM integration option (#961)
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

health listener
  go.mod
  health/health.go
  health/health_test.go
  launcher/launcher.go
Owners: @elastic/cloudbeat

defining the catalog info
  catalog-info.yaml
Owners: @elastic/cloudbeat

1.20
  .go-version
  docs/version.asciidoc
Owners: @elastic/cloudbeat

CloudFormation: Use GH actions syntax for conditional upload
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

CloudFormation: Upload to path without "vuln-mgmt"
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

CloudFormation: Use GH actions syntax for conditional upload (#975)
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

cfg comments
  vulnerability/db.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

hermit go1.20.4
  bin/.go-1.20.4.pkg
  bin/go
  bin/gofmt
Owners: @elastic/cloudbeat

mutex
  health/health.go
Owners: @elastic/cloudbeat

30
  .github/workflows/cloudbeat-ci.yml
Owners: @elastic/cloudbeat

CloudFormation: Upload to path without "vuln-mgmt" (#976)
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

golangci-lint upgrade
  bin/.golangci-lint-1.52.2.pkg
  bin/golangci-lint
Owners: @elastic/cloudbeat

status reporter iface and mocks
  health/health.go
  health/health_test.go
  health/mock_status_reporter.go
  launcher/launcher.go
Owners: @elastic/cloudbeat

update
  .go-version
  bin/.go-1.20.4.pkg
  bin/.golangci-lint-1.52.2.pkg
  bin/go
  bin/gofmt
  bin/golangci-lint
  docs/version.asciidoc
  go.mod
Owners: @elastic/cloudbeat

remove dup
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat
