Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

mm
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

update flow to use public ip variable
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

update flow to use public ip variable
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

updating id of flow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

first end to end flow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Fixing CI scp command
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/agent_policy_vanilla.json
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

Fixing deployment
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Cloudformation template validation (#711)
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Working version with no snapshot
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding input validation and using 8.6.1 version
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

Adding all old files
  .github/workflows/Periodic-CI.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/unit-test.yml
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Update the git ignore
  .gitignore
Owners: @elastic/cloudbeat

golang: bump automation with updatecli and GH actions (#706)
  .ci/bump-golang.yml
  .github/workflows/bump-golang.yml
Owners: @elastic/csp-ops, @elastic/cloudbeat

Refined version
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/main.tf
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
  deploy/weekly-environment/terraform.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

Initial vulnerability push
  beater/beater.go
  beater/beater_test.go
  cloudbeat.yml
  config/config.go
  flavors/cloudbeat.go
  flavors/flavors.go
  flavors/vulnerability.go
  go.mod
  go.sum
  resources/providers/awslib/ec2/provider.go
  vulnerability/evaluator.go
  vulnerability/fetcher.go
  vulnerability/replicator.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Fixing depend
  go.sum
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Avoiding deadlock on boltdb
  flavors/vulnerability.go
  vulnerability/evaluator.go
  vulnerability/runner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

CR changes
  beater/beater.go
  flavors/posture.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Partial commit
  flavors/vulnerability.go
  vulnerability/evaluator.go
  vulnerability/replicator.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Fixing go tidy
  go.sum
Owners: @elastic/cloudbeat

Fixing CR rebase
  beater/beater.go
  mocks/provider.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Cleanup of tidy
  go.sum
Owners: @elastic/cloudbeat

Mocking client
  mocks/provider.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/provider_test.go
Owners: @elastic/cloudbeat

Edit environment variables
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding workflow
  .github/workflows/weekly-environment.yml
Owners: @elastic/cloudbeat

Update basic workflow
  .github/workflows/weekly-environment.yml
Owners: @elastic/cloudbeat

removing flow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

reverting changes
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Update deployment file
  .github/workflows/weekly-enviroment.yml.yml
  .github/workflows/weekly-environment.yml
Owners: @elastic/cloudbeat

reverting file
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding the new workflow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding the new workflow
  deploy/weekly-environment/manifest.yaml
Owners: @elastic/csp-ops

Add image replacement step
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Update actions checkout
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Different format
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding cat before
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Moving the image to manifest.yaml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/manifest.yaml
Owners: @elastic/csp-ops

trying to edit the command
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to use environment variable for it
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to use environment variable for it
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat
