Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

update output path
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

uncomment actions
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update s3 bucket name
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

reset to 8.8
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

fix conflict
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

update source dir
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

Terraform version upgrade (#938)
  bin/.terraform-1.4.6.pkg
  bin/terraform
Owners: @elastic/cloudbeat

set job level env vars
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update working dir for s3 action
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update s3 action args
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update aws s3 command
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

update aws s3 command #2
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

add comments
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

set default value
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Set default value to CloudFormation param ElasticArtifactServer (#943)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

initial commit
  .buildkite/docker-login.sh
  .buildkite/pipeline.yml
  Jenkinsfile
  catalog-info.yaml
Owners: @elastic/cloudbeat, @elastic/csp-ops

remove if statement
  .github/workflows/test-environment.yml
Owners: @elastic/cloudbeat

Add endpoint customization
  deploy/cloud/main.tf
  deploy/cloud/variables.tf
Owners: @elastic/csp-ops

revert changes to eks cluster name
  deploy/cloud/main.tf
Owners: @elastic/csp-ops

Enforce deployment name
  deploy/cloud/README.md
  deploy/cloud/main.tf
  deploy/cloud/modules/provision-eks-cluster/eks-cluster.tf
  deploy/cloud/modules/provision-eks-cluster/main.tf
  deploy/cloud/modules/provision-eks-cluster/oidc.tf
  deploy/cloud/modules/provision-eks-cluster/security-groups.tf
  deploy/cloud/modules/provision-eks-cluster/variables.tf
  deploy/cloud/modules/provision-eks-cluster/vpc.tf
  deploy/cloud/variables.tf
Owners: @elastic/csp-ops

create catalog info
  catalog-info.yaml
Owners: @elastic/cloudbeat

Add a catalog info file (#947)
  catalog-info.yaml
Owners: @elastic/cloudbeat

refactor
  vulnerability/db.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

no error
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

fetchers: Correctly use sub-tests (#901)
  resources/fetchers/iam_fetcher_test.go
  resources/fetchers/kms_fetcher_test.go
  resources/fetchers/rds_fetcher_test.go
  resources/fetchers/s3_fetcher_test.go
Owners: @elastic/cloudbeat

Enforce deployment name when using terraform (#946)
  deploy/cloud/README.md
  deploy/cloud/main.tf
  deploy/cloud/modules/provision-eks-cluster/eks-cluster.tf
  deploy/cloud/modules/provision-eks-cluster/main.tf
  deploy/cloud/modules/provision-eks-cluster/oidc.tf
  deploy/cloud/modules/provision-eks-cluster/security-groups.tf
  deploy/cloud/modules/provision-eks-cluster/variables.tf
  deploy/cloud/modules/provision-eks-cluster/vpc.tf
  deploy/cloud/variables.tf
Owners: @elastic/csp-ops

use cache
  vulnerability/db.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

[CNVM] Update cloudformation ec2 instance type (#923)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

cloudformation: Change dev deployment script
  .pre-commit-config.yaml
  deploy/cloudformation/.gitignore
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/create-stack.sh
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
  deploy/cloudformation/mock_dev_modifier.go
  go.mod
  go.sum
  justfile
Owners: @elastic/cloudbeat, @elastic/csp-ops

upgrade go to 1.20
  bin/.go@1.20.pkg
  bin/go
  bin/gofmt
  go.mod
Owners: @elastic/cloudbeat

Use yq instead
  .pre-commit-config.yaml
  bin/.bash@latest.pkg
  bin/.yq@4.33.pkg
  bin/bash
  bin/yq
  deploy/cloudformation/.gitignore
  deploy/cloudformation/README.md
  deploy/cloudformation/create-stack.sh
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/cloudbeat, @elastic/csp-ops

Revert back to go script
  bin/.bash@latest.pkg
  bin/.yq@4.33.pkg
  bin/bash
  bin/yq
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/create-stack.sh
  deploy/cloudformation/gomain.go
  go.mod
  go.sum
  justfile
Owners: @elastic/cloudbeat, @elastic/csp-ops

1.20
  .go-version
  docs/version.asciidoc
Owners: @elastic/cloudbeat

remove unecessary chekc
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

rename variables
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

Install yq for pre-commit
  bin/.yq@4.33.pkg
  bin/yq
Owners: @elastic/cloudbeat

Remove shellcheck for now
  .pre-commit-config.yaml
Owners: @elastic/cloudbeat

cache replace mechanism
  vulnerability/db.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Fix pre-commit hooks
  .github/workflows/k8s-ci.yml
  .pre-commit-config.yaml
  Makefile
  dev-docs/cspm-on-cloud-deployment.md
Owners: @elastic/cloudbeat

todo unhealthy
  vulnerability/db.go
Owners: @elastic/cloudbeat
