Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

dev config
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

cft accept short version
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

accept version
  deploy/cloudformation/dev/modifier.go
Owners: @elastic/csp-ops

pre release
  deploy/cloudformation/config.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

refactor conditions
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

Janitorial fixes
  .editorconfig
  beater/beater.go
  cmd/root.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
  evaluator/debug_logger/plugin.go
  launcher/launcher_test.go
  magefile.go
  resources/fetchers/file_system_fetcher.go
  resources/fetchers/kube_fetcher.go
  resources/fetchers/logging_fetcher_test.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/fetchers/process_fetcher.go
  resources/fetchers/process_fetcher_test.go
  resources/fetchersManager/data_test.go
  resources/fetchersManager/factory_aws_test.go
  resources/fetchersManager/factory_test.go
  resources/fetchersManager/registry_test.go
  resources/providers/aws_cis/logging/provider_test.go
  resources/providers/aws_cis/monitoring/monitoring_test.go
  resources/providers/awslib/cached_region_selector.go
  resources/providers/awslib/cloudwatch/logs/logs.go
  resources/providers/awslib/cloudwatch/logs/provider_test.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/iam/server_cerfiticates.go
  resources/providers/awslib/iam/user.go
  transformer/events_creator.go
  uniqueness/leaderelection.go
  uniqueness/leaderelection_test.go
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat, @elastic/csp-ops

Janitorial fixes (#908)
  .editorconfig
  beater/beater.go
  cmd/root.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
  evaluator/debug_logger/plugin.go
  launcher/launcher_test.go
  magefile.go
  resources/fetchers/file_system_fetcher.go
  resources/fetchers/kube_fetcher.go
  resources/fetchers/logging_fetcher_test.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/fetchers/process_fetcher.go
  resources/fetchers/process_fetcher_test.go
  resources/fetchersManager/data_test.go
  resources/fetchersManager/factory_aws_test.go
  resources/fetchersManager/factory_test.go
  resources/fetchersManager/registry_test.go
  resources/providers/aws_cis/logging/provider_test.go
  resources/providers/aws_cis/monitoring/monitoring_test.go
  resources/providers/awslib/cached_region_selector.go
  resources/providers/awslib/cloudwatch/logs/logs.go
  resources/providers/awslib/cloudwatch/logs/provider_test.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/iam/server_cerfiticates.go
  resources/providers/awslib/iam/user.go
  transformer/events_creator.go
  uniqueness/leaderelection.go
  uniqueness/leaderelection_test.go
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat, @elastic/csp-ops

Fix TestStep race condition
  pipeline/pipeline_test.go
  resources/utils/testhelper/helper.go
Owners: @elastic/cloudbeat

add documentation to readme
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

lowercase
  deploy/cloudformation/config.go
  deploy/cloudformation/dev/modifier.go
Owners: @elastic/csp-ops

Fix TestStep race condition (#909)
  pipeline/pipeline_test.go
  resources/utils/testhelper/helper.go
Owners: @elastic/cloudbeat

Add missing functional tests for CIS AWS 1.16, 1.17, 1.20
  tests/product/tests/data/aws/aws_iam_test_cases.py
Owners: @elastic/csp-automation

CloudFormation script deploy BC (#907)
  deploy/cloudformation/README.md
  deploy/cloudformation/config.go
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

Fix timeout for post-merge aws functional tests. (#890)
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
  justfile
Owners: @elastic/cloudbeat, @elastic/csp-ops

update run-tests command
  .github/workflows/k8s-ci.yml
  justfile
Owners: @elastic/cloudbeat

update run-tests command (#910)
  .github/workflows/k8s-ci.yml
  justfile
Owners: @elastic/cloudbeat

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

built
  go.mod
  go.sum
  vulnerability/runner.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

fix review comments
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

Update tests/README.md
  tests/README.md
Owners: @elastic/csp-automation

using vuln types consts
  vulnerability/runner.go
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

update schema
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

remove redundant replace
  go.mod
Owners: @elastic/cloudbeat

Apply suggestions from code review
  tests/README.md
Owners: @elastic/csp-automation

access_analyzer: Use arrays instead of map
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_analyzer_client.go
Owners: @elastic/cloudbeat

cloudformation
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

bold
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

gr
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

local vulnmgmt doc
  deploy/vulnerability/README.md
Owners: @elastic/csp-ops

remove goos
  deploy/vulnerability/README.md
Owners: @elastic/csp-ops

remove blanks
  deploy/cloudformation/README.md
Owners: @elastic/csp-ops

update hermit binaries
  bin/.elastic-package-0.78.0.pkg
  bin/elastic-package
Owners: @elastic/cloudbeat

add pagination in RDS provider to describe DB instances
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
