Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Docs: Fix links
  dev-docs/Architecture.md
  dev-docs/ELK-Deployment.md
  dev-docs/Release.md
Owners: @elastic/cloudbeat

sub instead of join
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

justfile: Add recipe to disconnect elastic stack
  .ci/scripts/connect_kind.sh
  justfile
Owners: @elastic/csp-ops, @elastic/cloudbeat

Add docs
  .ci/scripts/connect_kind.sh
  dev-docs/Cloudbeat-Deployment.md
Owners: @elastic/csp-ops, @elastic/cloudbeat

snapshot cleanup
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/cleaner.go
  vulnerability/mock_snapshot_cleaner.go
  vulnerability/replicator.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Docs: Fix links (#843)
  dev-docs/Architecture.md
  dev-docs/ELK-Deployment.md
  dev-docs/Release.md
Owners: @elastic/cloudbeat

add kms provider and fetcher
  resources/fetchers/kms_factory.go
  resources/fetchers/kms_fetcher.go
  resources/fetchers/kms_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/kms/kms.go
  resources/providers/awslib/kms/mock_client.go
  resources/providers/awslib/kms/mock_kms.go
  resources/providers/awslib/kms/provider.go
  resources/providers/awslib/kms/provider_test.go
Owners: @elastic/cloudbeat

add aws-kms cloudbeat-aws deployment
  deploy/aws/cloudbeat-aws.yml
Owners: @elastic/csp-ops

add kms pkg
  go.mod
  go.sum
Owners: @elastic/cloudbeat

add aws kms manually
  go.mod
Owners: @elastic/cloudbeat

review fixes: improve tests
  resources/providers/awslib/kms/provider_test.go
Owners: @elastic/cloudbeat

review fixes: remove unused and fix json
  resources/providers/awslib/kms/kms.go
Owners: @elastic/cloudbeat

review fixes: fix function param
  resources/providers/awslib/kms/provider.go
Owners: @elastic/cloudbeat

generate mocks with headers
  resources/providers/awslib/kms/mock_client.go
  resources/providers/awslib/kms/mock_kms.go
Owners: @elastic/cloudbeat

review fixes: add key management type
  resources/fetchers/kms_fetcher.go
  resources/fetching/fetcher.go
Owners: @elastic/cloudbeat

use CurrentRegionSelector
  resources/providers/awslib/kms/kms.go
Owners: @elastic/cloudbeat

review fixes: return error to fetchIteration
  resources/fetchers/kms_fetcher.go
Owners: @elastic/cloudbeat

return nil and log error to make test pass
  resources/fetchers/kms_fetcher.go
Owners: @elastic/cloudbeat

add factory test
  resources/fetchers/kms_factory_test.go
Owners: @elastic/cloudbeat

Add KMS provider (#780)
  deploy/aws/cloudbeat-aws.yml
  go.mod
  go.sum
  resources/fetchers/kms_factory.go
  resources/fetchers/kms_factory_test.go
  resources/fetchers/kms_fetcher.go
  resources/fetchers/kms_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/kms/kms.go
  resources/providers/awslib/kms/mock_client.go
  resources/providers/awslib/kms/mock_kms.go
  resources/providers/awslib/kms/provider.go
  resources/providers/awslib/kms/provider_test.go
Owners: @elastic/csp-ops, @elastic/cloudbeat

add_cluster_id: Use ECS field
  processor/add_cluster_id/add_cluster_id.go
  processor/add_cluster_id/add_cluster_id_test.go
Owners: @elastic/cloudbeat

use stack id
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

block incoming ssh
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

remove param
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Grant access to default KMS key for EBS
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

fix: pass to opa also the filter name that associated with sns topic using alarm
  resources/providers/aws_cis/monitoring/monitoring.go
  resources/providers/aws_cis/monitoring/monitoring_test.go
Owners: @elastic/cloudbeat

Avoid deadlock on Trivy database
  vulnerability/worker.go
Owners: @elastic/cloudbeat

pre commit exclude cft
  .pre-commit-config.yaml
Owners: @elastic/cloudbeat

chore: update csp version
  version/policy.go
Owners: @elastic/cloudbeat

fix check yaml
  .pre-commit-config.yaml
Owners: @elastic/cloudbeat

fix: pass to opa also the filter name that associated with sns topic … (#846)
  resources/providers/aws_cis/monitoring/monitoring.go
  resources/providers/aws_cis/monitoring/monitoring_test.go
  version/policy.go
Owners: @elastic/cloudbeat

cr changes
  .gitignore
  resources/providers/awslib/ec2/provider.go
  vulnerability/cleaner.go
  vulnerability/replicator.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

move cft check
  .github/workflows/unit-test.yml
  .pre-commit-config.yaml
Owners: @elastic/cloudbeat

remove mock
  vulnerability/mock_snapshot_cleaner.go
Owners: @elastic/cloudbeat

CloudFormation unique resources names (#844)
  .github/workflows/unit-test.yml
  .pre-commit-config.yaml
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/cloudbeat, @elastic/csp-ops

CloudFormation template block SSH connections (#849)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

mockery bump 2.24.0
  bin/.mockery-2.24.0.pkg
  bin/mockery
Owners: @elastic/cloudbeat

exclude vendor
  justfile
Owners: @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/cloudbeat

cr changes v3
  resources/providers/awslib/ec2/provider.go
  vulnerability/cleaner.go
  vulnerability/cleaner_test.go
  vulnerability/mock_snapshot_cleaner.go
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
