Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

update rules order
  tests/product/tests/test_k8s_objects_rules.py
Owners: @elastic/csp-automation

Adding SSH key to the slack message
  .github/workflows/weekly-enviroment.yml
  deploy/cloud/modules/ec2/output.tf
  deploy/cloud/outputs.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

Add integration test to rule K8S CIS 5.2.8 (#689)
  deploy/k8s/kind/kind-mono.yml
  go.mod
  go.sum
  justfile
  resources/providers/awslib/s3/provider_test.go
  tests/product/tests/data/k8s_object/k8s_object_rules.py
  tests/product/tests/test_k8s_objects_rules.py
  version/policy.go
Owners: @elastic/csp-ops, @elastic/cloudbeat, @elastic/csp-automation

Adding Environment variable
  .github/workflows/weekly-enviroment.yml
  deploy/cloud/main.tf
  deploy/cloud/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

Adding enviroment tag
  .github/workflows/weekly-enviroment.yml
  deploy/cloud/main.tf
  deploy/cloud/modules/ec2/main.tf
  deploy/cloud/modules/ec2/variables.tf
  deploy/cloud/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

updating region for the job
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

modify s3 provider
  resources/providers/aws_cis/logging/provider.go
  resources/providers/aws_cis/logging/provider_test.go
  resources/providers/awslib/s3/mock_s3.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/s3.go
Owners: @elastic/cloudbeat

remove output.json
  deploy/cloud/output.json
Owners: @elastic/csp-ops

Refactoring
  .github/workflows/weekly-enviroment.yml
  .github/workflows/weekly-environment-slack-payload.json
Owners: @elastic/cloudbeat

Trying to use environment variables in the outer scope of the flow
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

describe vpcs
  resources/fetchers/network_factory.go
  resources/fetchers/network_fetcher.go
  resources/fetching/fetcher.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/ec2/vpc.go
  resources/providers/awslib/multi_region.go
Owners: @elastic/cloudbeat

fix network fetcher test
  resources/fetchers/network_fetcher_test.go
Owners: @elastic/cloudbeat

Trying to follow the readme
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

updating ami for the job
  deploy/cloud/main.tf
Owners: @elastic/csp-ops

updating private key for the job
  deploy/cloud/modules/ec2/output.tf
Owners: @elastic/csp-ops

fixing slack message
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding private key to message
  deploy/cloud/modules/ec2/output.tf
Owners: @elastic/csp-ops

adding eks region and eks cluster name to the slack message
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Upgrade all providers
  deploy/cloud/modules/ec2/terraform.tf
  deploy/cloud/modules/provision-apps/terraform.tf
  deploy/cloud/modules/provision-eks-cluster/eks-cluster.tf
  deploy/cloud/terraform.tf
Owners: @elastic/csp-ops

fixing terraform
  deploy/cloud/README.md
  deploy/cloud/main.tf
Owners: @elastic/csp-ops

Revert "Upgrade all providers"
  deploy/cloud/modules/ec2/terraform.tf
  deploy/cloud/modules/provision-apps/terraform.tf
  deploy/cloud/modules/provision-eks-cluster/eks-cluster.tf
  deploy/cloud/terraform.tf
Owners: @elastic/csp-ops

Revert "fixing terraform"
  deploy/cloud/README.md
  deploy/cloud/main.tf
Owners: @elastic/csp-ops

adding base64 encoding to ssh key
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

trying to fix slack message
  .github/workflows/a.json
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

removing fields from slack message
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

editing fields from slack message
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding the ssh command
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

cr changes
  resources/fetchers/network_fetcher.go
Owners: @elastic/cloudbeat

EC2 provider - collect VPCs data (#701)
  resources/fetchers/network_factory.go
  resources/fetchers/network_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/aws_cis/logging/provider.go
  resources/providers/aws_cis/logging/provider_test.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/ec2/vpc.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/s3/mock_s3.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/s3.go
Owners: @elastic/cloudbeat

feat: add ec2 ebs-encryption-by-default
  resources/fetchers/network_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/ec2/ebs_encryption.go
  resources/providers/awslib/ec2/provider.go
Owners: @elastic/cloudbeat

feat: add aws cis rule 2.2.1
  deploy/aws/cloudbeat-aws.yml
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2_metadata_provider.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
Owners: @elastic/csp-ops, @elastic/cloudbeat

Update policies to 1.1.1
  deploy/cloud/data/package_policy.json
  deploy/cloud/data/package_policy_vanilla.json
Owners: @elastic/csp-ops

Adding EC2 key to slack message
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

remove short from fields
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding instance ID
  .github/workflows/weekly-enviroment.yml
  deploy/cloud/modules/ec2/output.tf
  deploy/cloud/outputs.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

golang: bump automation with updatecli and GH actions
  .ci/bump-golang.yml
  .github/workflows/bump-golang.yml
Owners: @elastic/csp-ops, @elastic/cloudbeat

pr fixs
  deploy/aws/cloudbeat-aws.yml
  resources/fetchers/network_fetcher_test.go
  resources/providers/awslib/ec2/ebs_encryption.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
Owners: @elastic/csp-ops, @elastic/cloudbeat

Aws cis 2 2 1 (#705)
  resources/fetchers/network_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/ec2/ebs_encryption.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/ec2_metadata_provider.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
Owners: @elastic/cloudbeat

policy bump + bug fix
  resources/fetchers/network_fetcher.go
  version/policy.go
Owners: @elastic/cloudbeat

remove nil pointer from slice
  resources/fetchers/network_fetcher.go
Owners: @elastic/cloudbeat
