Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

Update s3 provider fallback logic (#775)
  flavors/posture.go
  resources/fetchers/s3_fetcher_test.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
  version/policy.go
Owners: @elastic/cloudbeat

Update s3 provider fallback logic (#775)
  beater/cloudbeat.go
  resources/fetchers/s3_fetcher_test.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
  version/policy.go
Owners: @elastic/cloudbeat

hermit pin go 1.19.6
  bin/.go-1.19.6.pkg
  bin/go
  bin/gofmt
Owners: @elastic/cloudbeat

comment hermit in build step
  .github/workflows/cloudbeat-ci.yml
Owners: @elastic/cloudbeat

Update Cloudbeat-Deployment.md
  dev-docs/Cloudbeat-Deployment.md
Owners: @elastic/cloudbeat

revert CI changes (will be handled in a different PR)
  .github/workflows/Periodic-CI.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Refactor Deployment Docs (#772)
  README.md
  bin/.go-1.19.6.pkg
  bin/go
  bin/gofmt
  dev-docs/Cloudbeat-Deployment.md
  dev-docs/ELK-Deployment.md
Owners: @elastic/cloudbeat

CI changes
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/periodic-ci.yml
  .github/workflows/unit-test.yml
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Support Trivy credentials configuration
  flavors/vulnerability.go
  go.mod
  go.sum
  resources/providers/awslib/ec2/provider.go
  vulnerability/fetcher.go
  vulnerability/replicator.go
  vulnerability/runner.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Eks add skip tests (#720)
  tests/product/tests/data/k8s_object/eks_k8s_object_test_cases.py
  tests/product/tests/data/process/eks_process_test_cases.py
Owners: @elastic/csp-automation

Bump version and fix unit tests
  go.mod
  go.sum
  resources/providers/awslib/ec2/provider_test.go
Owners: @elastic/cloudbeat

dispatch
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

remove push trigger
  .github/workflows/publish-artifacts.yml
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/cloudbeat, @elastic/csp-ops

Split Vanilla Functional tests
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

remove race flag from UT
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

[CI] Upload CloudFormation template to S3 bucket (#774)
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

remove action param `cache`
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/periodic-ci.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Removing comments
  flavors/vulnerability.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/runner.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

change trigger
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

fix step condition
  .github/workflows/k8s-ci.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

move mage checks to cloudbeat-ci.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

remove init hermit from unit test
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

move mocks validation to cloudbeat-ci.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Move steps to Lint
  .github/workflows/cloudbeat-ci.yml
Owners: @elastic/cloudbeat

Support Trivy credentials configuration (#781)
  flavors/vulnerability.go
  go.mod
  go.sum
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  vulnerability/fetcher.go
  vulnerability/replicator.go
  vulnerability/runner.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

update action version
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

fix yml
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

fix yml
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

increase hooks timeout
  .github/workflows/cloudbeat-ci.yml
Owners: @elastic/cloudbeat

increase response wait timeout
  tests/commonlib/kubernetes.py
Owners: @elastic/csp-automation

Fix workflow name
  .github/workflows/publish-test-results.yml
Owners: @elastic/cloudbeat

CSPM on cloud deployment instructions
  dev-docs/cspm-on-cloud-deployment.MD
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.MD
  dev-docs/cspm-on-cloud-deployment.MD
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.MD
  dev-docs/cspm-on-cloud-deployment.MD
Owners: @elastic/cloudbeat

c
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Revert "c"
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

remove custom branch trigger
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

change folder
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @elastic/cloudbeat

Update cspm-on-cloud-deployment.MD
  dev-docs/cspm-on-cloud-deployment.MD
Owners: @elastic/cloudbeat
