Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

add score fields to vm findings
  go.mod
  go.sum
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Cloudformation script to support snapshot deletion (#866)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

add fallback logic
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

add deployment
  deploy/vulnerability/cloudbeat-vuln-mgmt.yml
Owners: @elastic/csp-ops

pylint
  deploy/cloudformation/generate_dev.py
Owners: @elastic/csp-ops

line breaks
  deploy/cloudformation/generate_dev.py
Owners: @elastic/csp-ops

Add cloudbeat.yml for vulnerability management (#862)
  deploy/vulnerability/cloudbeat-vuln-mgmt.yml
Owners: @elastic/csp-ops

Update policy.go
  version/policy.go
Owners: @elastic/cloudbeat

update just command
  justfile
Owners: @elastic/cloudbeat

CloudFormation stack creation for dev purposes (#861)
  deploy/cloudformation/.gitignore
  deploy/cloudformation/create-stack.sh
  deploy/cloudformation/generate_dev.py
Owners: @elastic/csp-ops

Add permissions to cloudformation to list account aliases
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Add ssh key param to script
  deploy/cloudformation/create-stack.sh
Owners: @elastic/csp-ops

fix log msg format
  vulnerability/verifier.go
Owners: @elastic/cloudbeat

fix log msg format scanner
  vulnerability/scanner.go
Owners: @elastic/cloudbeat

make functions generic
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

revert script modifications
  deploy/cloudformation/create-stack.sh
Owners: @elastic/csp-ops

g
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

prepare for review
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

modify es query timeout
  tests/integration/tests/test_standalone_agent_integration.py
Owners: @elastic/csp-automation

Add permissions to cloudformation template to list account aliases (#876)
  deploy/cloudformation/elastic-agent-ec2.yml
  vulnerability/scanner.go
  vulnerability/verifier.go
Owners: @elastic/csp-ops, @elastic/cloudbeat

modift es wrapper
  tests/commonlib/elastic_wrapper.py
  tests/integration/tests/test_standalone_agent_integration.py
Owners: @elastic/csp-automation

return early when config resources cant be fetched
  resources/fetchers/logging_fetcher.go
  resources/fetchers/logging_fetcher_test.go
Owners: @elastic/cloudbeat

skip agent tests
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

Skip agent tests (#879)
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

add tmate for debug
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

skip all tests except of aws tests
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

add metadata test
  resources/fetchers/logging_fetcher_test.go
Owners: @elastic/cloudbeat

add debug flag and remove tmate session
  .github/workflows/k8s-ci.yml
  justfile
Owners: @elastic/cloudbeat

remove debug and update aws findings timeout
  justfile
  tests/configuration.py
Owners: @elastic/cloudbeat, @elastic/csp-automation

update cloudbeat timeout and remove skip from fixed tests
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
  tests/product/tests/data/aws/aws_logging_test_cases.py
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
Owners: @elastic/csp-ops, @elastic/csp-automation

update timeouts
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
Owners: @elastic/cloudbeat, @elastic/csp-ops

update skipped test cases
  tests/product/tests/data/aws/aws_iam_test_cases.py
  tests/product/tests/data/aws/aws_logging_test_cases.py
Owners: @elastic/csp-automation

update timeouts
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
Owners: @elastic/cloudbeat, @elastic/csp-ops

cr changes
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

update timeouts
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

Send all aws configs as a single resource (#857)
  resources/fetchers/logging_factory.go
  resources/fetchers/logging_fetcher.go
  resources/fetchers/logging_fetcher_test.go
Owners: @elastic/cloudbeat

remove comments
  .github/workflows/k8s-ci.yml
  tests/product/tests/data/aws/aws_logging_test_cases.py
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
Owners: @elastic/cloudbeat, @elastic/csp-automation

Add fallback logic to vulnerability events creation (#874)
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Fetch public accessibility data for AWS RDS databases
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/providers/awslib/ec2/ec2.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
  version/policy.go
Owners: @elastic/cloudbeat

remove comments
  deploy/kustomize/overlays/cloudbeat-aws/daemonset.yml
  deploy/kustomize/overlays/cloudbeat-aws/kustomization.yml
Owners: @elastic/csp-ops

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
