Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

merge actions
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

Revert "Update aws ci test flow"
  .github/workflows/k8s-ci.yml
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

remove empty line
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

modify with goformation lib
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/godev.go
  go.mod
  go.sum
Owners: @elastic/csp-ops, @elastic/cloudbeat

just deploy-cloudformation
  justfile
Owners: @elastic/cloudbeat

get elastic-agent artifact
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/godev.go
  justfile
Owners: @elastic/csp-ops, @elastic/cloudbeat

tidy vendor
  go.mod
Owners: @elastic/cloudbeat

add licenses
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

lint
  deploy/cloudformation/dev/modifier.go
Owners: @elastic/csp-ops

Update default instance in cloudformation (#893)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Add AccessAnalyzer resource to implement CIS AWS 1.20
  flavors/common.go
  go.mod
  go.sum
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_analyzer.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/user_test.go
  resources/providers/awslib/multi_region.go
Owners: @elastic/cloudbeat

All access analyzers in a single resource
  go.mod
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
Owners: @elastic/cloudbeat

Update version
  go.mod
  version/policy.go
Owners: @elastic/cloudbeat

Add AccessAnalyzer resource to implement CIS AWS 1.20 (#886)
  flavors/common.go
  go.mod
  go.sum
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_analyzer.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/user_test.go
  resources/providers/awslib/multi_region.go
  version/policy.go
Owners: @elastic/cloudbeat

chore: update to 8.9
  .mergify.yml
  version/version.go
Owners: @elastic/cloudbeat

generate mocks
  deploy/cloudformation/mock_dev_modifier.go
Owners: @elastic/csp-ops

Fetch public accessibility data for AWS RDS databases (#880)
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/providers/awslib/ec2/ec2.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
  version/policy.go
Owners: @elastic/cloudbeat

justfile: Add recipe to disconnect elastic stack (#835)
  .ci/scripts/connect_kind.sh
  dev-docs/Cloudbeat-Deployment.md
  justfile
Owners: @elastic/csp-ops, @elastic/cloudbeat

Add region to all CIS AWS resources (#883)
  resources/fetchers/iam_fetcher.go
  resources/fetchers/kms_fetcher.go
  resources/fetchers/logging_fetcher.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/fetchers/network_fetcher.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/s3_fetcher.go
  resources/providers/aws_cis/logging/provider.go
  resources/providers/awslib/aws.go
  resources/providers/awslib/configservice/configservice.go
  resources/providers/awslib/ec2/ebs_encryption.go
  resources/providers/awslib/ec2/nacl.go
  resources/providers/awslib/ec2/security_group.go
  resources/providers/awslib/ec2/vpc.go
  resources/providers/awslib/iam/password_policy.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/kms/kms.go
  resources/providers/awslib/kms/provider.go
  resources/providers/awslib/kms/provider_test.go
  resources/providers/awslib/mock_aws_resource.go
  resources/providers/awslib/multi_region_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
  resources/providers/awslib/securityhub/securityhub.go
Owners: @elastic/cloudbeat

Fetch AWSSupportAccess policy to implement CIS 1.17 (#877)
  go.mod
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

Update default instance in cloudformation (#893)
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Fetch AWS iam server-certificates (#892)
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/server_cerfiticates.go
  resources/providers/awslib/iam/server_certificates_test.go
Owners: @elastic/cloudbeat

Add AccessAnalyzer resource to implement CIS AWS 1.20 (#886)
  flavors/common.go
  go.mod
  go.sum
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/access_analyzer.go
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_analyzer.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/user_test.go
  resources/providers/awslib/multi_region.go
  version/policy.go
Owners: @elastic/cloudbeat

Update policy.go (#895)
  version/policy.go
Owners: @elastic/cloudbeat

chore: update to 8.9 (#896)
  .mergify.yml
  version/version.go
Owners: @elastic/cloudbeat

Allow ssh connections for CloudFormation template (#889)
  deploy/cloudformation/create-stack.sh
  deploy/cloudformation/dev/modifier.go
  deploy/cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/generate_dev.py
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
  deploy/cloudformation/mock_dev_modifier.go
  go.mod
  go.sum
  justfile
Owners: @elastic/csp-ops, @elastic/cloudbeat

remove leftover rm -rf
  magefile.go
Owners: @elastic/cloudbeat

magefile: BuildOpaBundle: Always cleanup
  magefile.go
Owners: @elastic/cloudbeat

signal handling, tmp dir
  magefile.go
Owners: @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/cloudbeat

[Release] add-backport-next
  .mergify.yml
Owners: @elastic/cloudbeat

magefile: BuildOpaBundle: Always cleanup (#837)
  magefile.go
Owners: @elastic/cloudbeat

Fetch AWSSupportAccess policy only once
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
Owners: @elastic/cloudbeat

Remove GetSupportPolicy() from interface
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
Owners: @elastic/cloudbeat

fetchers: Correctly use sub-tests
  resources/fetchers/iam_fetcher_test.go
  resources/fetchers/kms_fetcher_test.go
  resources/fetchers/rds_fetcher_test.go
  resources/fetchers/s3_fetcher_test.go
Owners: @elastic/cloudbeat

comment
  resources/providers/awslib/iam/policy.go
Owners: @elastic/cloudbeat

Fetch AWSSupportAccess policy only once (#900)
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
Owners: @elastic/cloudbeat

Fetch AWSSupportAccess policy only once (#900)
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
Owners: @elastic/cloudbeat

config
  deploy/cloudformation/config.go
Owners: @elastic/csp-ops
