Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Send all aws configs as a single resource
  resources/fetchers/logging_factory.go
  resources/fetchers/logging_fetcher.go
Owners: @elastic/cloudbeat

push snapshots into ch
  resources/providers/awslib/ec2/provider.go
  vulnerability/cleaner.go
  vulnerability/cleaner_test.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

push resource when configs array is not empty
  resources/fetchers/logging_fetcher.go
  resources/fetchers/logging_fetcher_test.go
Owners: @elastic/cloudbeat

Using worker ctx
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Avoid deadlock on Trivy database (#856)
  vulnerability/worker.go
Owners: @elastic/cloudbeat

add_cluster_id: Use ECS field (#847)
  processor/add_cluster_id/add_cluster_id.go
  processor/add_cluster_id/add_cluster_id_test.go
Owners: @elastic/cloudbeat

Add snapshot cleanup to vulnerability management (#845)
  .gitignore
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/cleaner.go
  vulnerability/cleaner_test.go
  vulnerability/mock_snapshot_cleaner.go
  vulnerability/replicator.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

add dev template
  deploy/cloudformation/elastic-agent-ec2-dev.yml
Owners: @elastic/csp-ops

creation script
  deploy/cloudformation/create-stack.sh
Owners: @elastic/csp-ops

remove key/ebs from dev template
  deploy/cloudformation/elastic-agent-ec2-dev.yml
Owners: @elastic/csp-ops

assert cft changes
  .github/workflows/cloudbeat-ci.yml
Owners: @elastic/cloudbeat

Revert "assert cft changes"
  .github/workflows/cloudbeat-ci.yml
Owners: @elastic/cloudbeat

ignore dev file
  deploy/cloudformation/.gitignore
  deploy/cloudformation/elastic-agent-ec2-dev.yml
Owners: @elastic/csp-ops

generate dev cft before creation
  deploy/cloudformation/create-stack.sh
Owners: @elastic/csp-ops

generation
  deploy/cloudformation/generate_dev.py
Owners: @elastic/csp-ops

Add cloudbeat yaml for vulnerability management
  deploy/vulnerability/cloudbeat-vuln-mgmt.yml
Owners: @elastic/csp-ops

License header
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Flatten index
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

License headers
  vulnerability/vulnerability_types.go
Owners: @elastic/cloudbeat

CR changes
  resources/providers/awslib/ec2/ebs_snapshot.go
  resources/providers/awslib/ec2/ec2_instance.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/events_creator.go
  vulnerability/replicator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/vulnerability_types.go
Owners: @elastic/cloudbeat

Vulnerability index initial
  transformer/events_creator.go
  vulnerability/events_creator.go
  vulnerability/replicator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/vulnerability_types.go
Owners: @elastic/cloudbeat

Fixing resource id and name
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Fixing CR
  vulnerability/events_creator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Vulnerability index structure (#848)
  resources/providers/awslib/ec2/ebs_snapshot.go
  resources/providers/awslib/ec2/ec2_instance.go
  resources/providers/awslib/ec2/provider.go
  transformer/events_creator.go
  vulnerability/events_creator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Testing Security POC - please ignore. (rxeplt)
  Jenkinsfile
  Makefile
Owners: @elastic/csp-ops, @elastic/cloudbeat

add cloud data to vm events
  config/config.go
  config/config_test.go
  dataprovider/data_provider.go
  dataprovider/mock_common_data_provider.go
  dataprovider/providers/aws/data_provider.go
  dataprovider/providers/aws/data_provider_test.go
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  flavors/common.go
  flavors/flavors.go
  flavors/posture.go
  flavors/vulnerability.go
  resources/fetching/fetcher.go
  resources/providers/awslib/ec2/provider.go
  transformer/events_creator.go
  transformer/events_creator_test.go
  vulnerability/events_creator.go
  vulnerability/fetcher.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

prepare for review
  config/config.go
  resources/providers/awslib/ec2/provider.go
  vulnerability/fetcher.go
Owners: @elastic/cloudbeat

Pointer de-ref
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

WIP: Fetch all IAM policies to implement CIS 1.16
  resources/fetchers/iam_fetcher.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/get_policies.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
Owners: @elastic/cloudbeat

Test_decodePolicyDocument
  resources/providers/awslib/iam/get_policies_test.go
Owners: @elastic/cloudbeat

Fix unit test
  resources/fetchers/iam_fetcher_test.go
Owners: @elastic/cloudbeat

TestProvider_GetPolicies
  resources/providers/awslib/iam/get_policies.go
  resources/providers/awslib/iam/get_policies_test.go
  resources/providers/awslib/iam/user_test.go
Owners: @elastic/cloudbeat

fix license
  resources/providers/awslib/iam/get_policies_test.go
Owners: @elastic/cloudbeat

Add custom errors for unexpected aws response
  resources/providers/awslib/iam/get_policies.go
  resources/providers/awslib/iam/get_policies_test.go
Owners: @elastic/cloudbeat

add another policy action to cloudformation
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

pagination
  resources/providers/awslib/iam/get_policies.go
Owners: @elastic/cloudbeat

move to policy.go
  resources/providers/awslib/iam/get_policies.go
  resources/providers/awslib/iam/policy.go
Owners: @elastic/cloudbeat

rename test
  resources/providers/awslib/iam/policy_test.go
Owners: @elastic/cloudbeat

Fetch all IAM policies to implement CIS 1.16 (#859)
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
  resources/providers/awslib/iam/user_test.go
Owners: @elastic/cloudbeat

Add cloud data to VM events (#864)
  config/config.go
  config/config_test.go
  dataprovider/data_provider.go
  dataprovider/mock_common_data_provider.go
  dataprovider/providers/aws/data_provider.go
  dataprovider/providers/aws/data_provider_test.go
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  flavors/common.go
  flavors/flavors.go
  flavors/posture.go
  flavors/vulnerability.go
  resources/fetching/fetcher.go
  transformer/events_creator.go
  transformer/events_creator_test.go
  vulnerability/events_creator.go
  vulnerability/fetcher.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
