Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Mocking client
  mocks/provider.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/provider_test.go
Owners: @elastic/cloudbeat

Fixing depend
  go.sum
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Bumping version and rename type
  .go-version
  cloudbeat.yml
  config/config.go
  docs/version.asciidoc
  go.mod
Owners: @elastic/cloudbeat

Cleanup of tidy
  go.sum
Owners: @elastic/cloudbeat

Partial commit
  flavors/vulnerability.go
  vulnerability/evaluator.go
  vulnerability/replicator.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

CR changes
  beater/beater.go
  flavors/posture.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Avoiding deadlock on boltdb
  flavors/vulnerability.go
  vulnerability/evaluator.go
  vulnerability/runner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

Rebase with concurrency
  flavors/flavors.go
  flavors/posture.go
Owners: @elastic/cloudbeat

Adding alerts to the flow
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

[CIS AWS] Fix multiple bugs (#761)
  resources/fetchers/monitoring_factory.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
  resources/providers/awslib/securityhub/securityhub.go
  version/policy.go
Owners: @elastic/cloudbeat

Moving alerts into a different step
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
  deploy/weekly-environment/scripts/alerts/data/slack_connector.json
  deploy/weekly-environment/scripts/alerts/data/vanilla_rules.ndjson
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

adding permission to alert file
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
Owners: @elastic/csp-ops

remove last failed
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Owners: @elastic/csp-automation

Update go version
  bin/.go-1.19.pkg
  bin/go
  bin/gofmt
Owners: @elastic/cloudbeat

Updating flow to use stagging environment
  deploy/weekly-environment/main.tf
  deploy/weekly-environment/variables.tf
Owners: @elastic/csp-ops

[CIS AWS] Fix multiple bugs (#761)
  resources/fetchers/monitoring_factory.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
  resources/providers/awslib/securityhub/securityhub.go
  version/policy.go
Owners: @elastic/cloudbeat

Update fetcher.go
  resources/fetching/fetcher.go
Owners: @elastic/cloudbeat

Update fetcher.go
  resources/fetching/fetcher.go
Owners: @elastic/cloudbeat

Updating path
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
Owners: @elastic/csp-ops

Fixing lint problems
  flavors/vulnerability.go
  vulnerability/scanner.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

add s3 test case
  deploy/k8s/kind/kind-mono.yml
  tests/commonlib/utils.py
  tests/configuration.py
  tests/deploy/k8s-cloudbeat-tests/charts/elasticsearch-8.4.0.tgz
  tests/deploy/k8s-cloudbeat-tests/charts/kibana-8.4.0.tgz
  tests/product/tests/data/aws/aws_s3_test_cases.py
  tests/product/tests/test_aws_s3_service_rules.py
  tests/pyproject.toml
Owners: @elastic/csp-ops, @elastic/csp-automation

Fixing lint assignment
  flavors/vulnerability.go
Owners: @elastic/cloudbeat

Removing due to mage config problems
  cloudbeat.yml
Owners: @elastic/cloudbeat

Patching type to deployment
  beater/beater.go
  config/config.go
Owners: @elastic/cloudbeat

Vulnerability POC (#671)
  .go-version
  beater/beater.go
  beater/beater_test.go
  bin/.go-1.19.pkg
  bin/go
  bin/gofmt
  config/config.go
  docs/version.asciidoc
  flavors/flavors.go
  flavors/posture.go
  flavors/vulnerability.go
  go.mod
  go.sum
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  vulnerability/fetcher.go
  vulnerability/replicator.go
  vulnerability/runner.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/worker.go
Owners: @elastic/cloudbeat

add additional test cases for 2.1.1
  tests/product/tests/data/aws/aws_s3_test_cases.py
Owners: @elastic/csp-automation

Weekly environment - Vanilla POC (#746)
  .github/workflows/unit-test.yml
  .github/workflows/weekly-enviroment.yml
  .gitignore
  deploy/cloud/.gitignore
  deploy/cloud/modules/api/terraform.tf
  deploy/cloud/modules/provision-apps/aws-ebs-csi-driver.tf
  deploy/cloud/modules/provision-apps/nginx-ingress.tf
  deploy/cloud/modules/provision-apps/terraform.tf
  deploy/cloud/modules/provision-apps/variables.tf
  deploy/weekly-environment/main.tf
  deploy/weekly-environment/outputs.tf
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/agent_policy_vanilla.json
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  deploy/weekly-environment/scripts/utils.sh
  deploy/weekly-environment/terraform.tf
  deploy/weekly-environment/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

Working version
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
  deploy/weekly-environment/scripts/alerts/data/vanilla_rules.ndjson
Owners: @elastic/csp-ops

Trying to install vanilla integration using only the vanilla input
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
Owners: @elastic/csp-ops

update skip_param_case function and refactor code
  tests/commonlib/framework/reporting.py
  tests/product/tests/data/aws/aws_s3_test_cases.py
  tests/product/tests/data/aws/managed_services_test_cases.py
  tests/product/tests/data/k8s_object/eks_k8s_object_test_cases.py
  tests/product/tests/data/process/eks_process_test_cases.py
  tests/product/tests/data/process/process_test_cases.py
  tests/product/tests/test_k8s_objects_rules.py
Owners: @elastic/csp-automation

rename test and refactor code
  tests/product/tests/test_eks_managed_services_rules.py
  tests/pyproject.toml
Owners: @elastic/csp-automation

Refactor Deployment Docs
  .github/workflows/unit-test.yml
  README.md
  dev-docs/Cloudbeat-Deployment.md
  dev-docs/ELK-Deployment.md
Owners: @elastic/cloudbeat

Table of contents
  dev-docs/Cloudbeat-Deployment.md
Owners: @elastic/cloudbeat

aws functional tests poc (#770)
  deploy/k8s/kind/kind-mono.yml
  tests/commonlib/framework/reporting.py
  tests/commonlib/utils.py
  tests/configuration.py
  tests/deploy/k8s-cloudbeat-tests/charts/elasticsearch-8.4.0.tgz
  tests/deploy/k8s-cloudbeat-tests/charts/kibana-8.4.0.tgz
  tests/product/tests/data/aws/aws_s3_test_cases.py
  tests/product/tests/data/aws/managed_services_test_cases.py
  tests/product/tests/data/k8s_object/eks_k8s_object_test_cases.py
  tests/product/tests/data/process/eks_process_test_cases.py
  tests/product/tests/data/process/process_test_cases.py
  tests/product/tests/test_aws_s3_service_rules.py
  tests/product/tests/test_eks_managed_services_rules.py
  tests/product/tests/test_k8s_objects_rules.py
  tests/pyproject.toml
Owners: @elastic/csp-ops, @elastic/csp-automation

Adding retry to the CI
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Enable the rules
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
Owners: @elastic/csp-ops

trying to fix env
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Terraform formatting
  deploy/weekly-environment/main.tf
  deploy/weekly-environment/variables.tf
Owners: @elastic/csp-ops

Keep only tests with race detection
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Updating alerts
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
