Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

add github action
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

lb
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

concrete region
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

enable manual run
  .github/workflows/bump-golang.yml
Owners: @elastic/cloudbeat

CSP policies version bump (#709)
  resources/fetchers/network_fetcher.go
  version/policy.go
Owners: @elastic/cloudbeat

remove aws auth
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

remove pwd
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

add region
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

print aws version
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

add envs and configure
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

base64 encryption
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Reverting the rest of the CI files
  .github/workflows/Periodic-CI.yml
  .github/workflows/a.json
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Reverting the rest of the CI files
  .github/workflows/eks-ci.yml
Owners: @elastic/cloudbeat

Review fixes
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/rds_fetcher_test.go
  resources/providers/awslib/rds/mock_rds.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
Owners: @elastic/cloudbeat

update integration to 1.1.1
  deploy/cloud/data/package_policy.json
  deploy/cloud/data/package_policy_vanilla.json
Owners: @elastic/csp-ops

Implement AWS RDS fetcher (#687)
  deploy/aws/cloudbeat-aws.yml
  go.mod
  go.sum
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/rds_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/rds/mock_client.go
  resources/providers/awslib/rds/mock_rds.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
Owners: @elastic/csp-ops, @elastic/cloudbeat

Update Terraform 8.6 integration to 1.1.1 (#714)
  deploy/cloud/data/package_policy.json
  deploy/cloud/data/package_policy_vanilla.json
Owners: @elastic/csp-ops

Adding only elastic stack
  .github/workflows/Periodic-CI.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/unit-test.yml
  .github/workflows/weekly-enviroment.yml
  .gitignore
  deploy/cloud/modules/weekly-environment/main.tf
  deploy/cloud/modules/weekly-environment/outputs.tf
  deploy/cloud/modules/weekly-environment/terraform.tf
  deploy/cloud/modules/weekly-environment/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

update working directory
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

update working directory
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding the ec provider
  deploy/cloud/modules/weekly-environment/main.tf
Owners: @elastic/csp-ops

refactor: securityhub provider to be multi regional
  resources/fetchers/monitoring_factory.go
  resources/fetchers/monitoring_factory_test.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/fetchers/network_factory.go
  resources/fetchers/network_factory_test.go
  resources/fetchers/network_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/providers/awslib/ec2/ec2.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
  resources/providers/awslib/securityhub/mock_service.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
  resources/providers/awslib/securityhub/securityhub.go
Owners: @elastic/cloudbeat

refactor: rds provider to be multi regional
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/rds_fetcher_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
Owners: @elastic/cloudbeat

chore: update version
  .mergify.yml
  version/version.go
Owners: @elastic/cloudbeat

refactor: align providers to be multi regional (#713)
  resources/fetchers/monitoring_factory.go
  resources/fetchers/monitoring_factory_test.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/fetchers/network_factory.go
  resources/fetchers/network_factory_test.go
  resources/fetchers/network_fetcher.go
  resources/fetchers/network_fetcher_test.go
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/rds_fetcher_test.go
  resources/providers/awslib/ec2/ec2.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
  resources/providers/awslib/securityhub/mock_service.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
  resources/providers/awslib/securityhub/securityhub.go
Owners: @elastic/cloudbeat

chore: update version (#715)
  .mergify.yml
  version/version.go
Owners: @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/cloudbeat

[Release] add-backport-next
  .mergify.yml
Owners: @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/cloudbeat

update skip tests status
  tests/product/tests/data/k8s_object/eks_k8s_object_test_cases.py
  tests/product/tests/data/process/eks_process_test_cases.py
Owners: @elastic/csp-automation

update cases and remove comments
  tests/product/tests/data/k8s_object/eks_k8s_object_test_cases.py
  tests/product/tests/data/process/eks_process_test_cases.py
Owners: @elastic/csp-automation

add config provider
  go.mod
  go.sum
  resources/fetchers/logging_factory.go
  resources/fetchers/logging_factory_test.go
  resources/fetchers/logging_fetcher.go
  resources/fetchers/logging_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/configservice/configservice.go
  resources/providers/awslib/configservice/mock_client.go
  resources/providers/awslib/configservice/mock_config_service.go
  resources/providers/awslib/configservice/provider.go
  resources/providers/awslib/configservice/provider_test.go
  resources/providers/awslib/s3/provider_test.go
  resources/utils/testhelper/helper.go
Owners: @elastic/cloudbeat

add missing license header
  resources/providers/awslib/configservice/provider_test.go
Owners: @elastic/cloudbeat

[Release] update version
  version/version.go
Owners: @elastic/cloudbeat

use cfn
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Fixing gitignore files + adding github actions that uses the new bash script
  .github/workflows/scripts/benchmarks/kspm_vanilla/data/agent_policy_vanilla.json
  .github/workflows/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
  .github/workflows/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
  .github/workflows/scripts/utils.sh
  .github/workflows/weekly-enviroment.yml
  .gitignore
  deploy/cloud/.gitignore
  deploy/weekly-environment/main.tf
  deploy/weekly-environment/outputs.tf
  deploy/weekly-environment/terraform.tf
  deploy/weekly-environment/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

info
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

update config resource name
  resources/providers/awslib/configservice/configservice.go
Owners: @elastic/cloudbeat

remove envs
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

CIS AWS Add a config provider (#721)
  go.mod
  go.sum
  resources/fetchers/logging_factory.go
  resources/fetchers/logging_factory_test.go
  resources/fetchers/logging_fetcher.go
  resources/fetchers/logging_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/configservice/configservice.go
  resources/providers/awslib/configservice/mock_client.go
  resources/providers/awslib/configservice/mock_config_service.go
  resources/providers/awslib/configservice/provider.go
  resources/providers/awslib/configservice/provider_test.go
  resources/providers/awslib/s3/provider_test.go
  resources/utils/testhelper/helper.go
Owners: @elastic/cloudbeat
