Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
.buildkite/  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation

yq pass
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

added documentation
  deploy/cloud/README.md
Owners: @elastic/csp-ops

add healthy status
  launcher/launcher.go
  vulnerability/db.go
Owners: @elastic/cloudbeat

Vuln EC2 volume types
  deploy/cloudformation/ec2-types.yml
Owners: @elastic/csp-ops

[Terraform] Allow agent docker image override (#966)
  deploy/cloud/README.md
  deploy/cloud/data/agent_policy_eks.json
  deploy/cloud/data/agent_policy_vanilla.json
  deploy/cloud/data/package_policy_eks.json
  deploy/cloud/data/package_policy_vanilla.json
  deploy/cloud/main.tf
  deploy/cloud/modules/api/main.tf
  deploy/cloud/modules/api/modules/eks/main.tf
  deploy/cloud/modules/api/modules/eks/outputs.tf
  deploy/cloud/modules/api/modules/eks/terraform.tf
  deploy/cloud/modules/api/modules/eks/variables.tf
  deploy/cloud/modules/api/modules/vanilla/main.tf
  deploy/cloud/modules/api/modules/vanilla/outputs.tf
  deploy/cloud/modules/api/modules/vanilla/terraform.tf
  deploy/cloud/modules/api/modules/vanilla/variables.tf
  deploy/cloud/modules/api/outputs.tf
  deploy/cloud/modules/ec2/main.tf
  deploy/cloud/modules/ec2/variables.tf
  deploy/cloud/outputs.tf
  deploy/cloud/variables.tf
Owners: @elastic/csp-ops

report bug
  vulnerability/db.go
Owners: @elastic/cloudbeat

fix merge conflicts
  deploy/cloud/data/agent_policy_cspm_aws.json
Owners: @elastic/csp-ops

remove buildkite for now
  .buildkite/deploy-test-env/pipeline.yml
  catalog-info.yaml
Owners: @elastic/csp-ops, @elastic/cloudbeat

fixed bucket name
  .github/workflows/deploy-environment.yml
Owners: @elastic/cloudbeat

reordered inputs
  .github/workflows/deploy-environment.yml
Owners: @elastic/cloudbeat

updated the bucket name
  .github/workflows/deploy-environment.yml
Owners: @elastic/cloudbeat

updated EC envs
  .github/workflows/deploy-environment.yml
Owners: @elastic/cloudbeat

use supported k8s version
  deploy/eks/simple-cluster.yml
Owners: @elastic/csp-ops

update readme
  deploy/eks/Readme.md
Owners: @elastic/csp-ops

change logs
  vulnerability/replicator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
Owners: @elastic/cloudbeat

cr changes
  .ci/scripts/integration-tests.sh
  scripts/connect_kind.sh
  scripts/validate-mocks.sh
Owners: @elastic/csp-ops, @elastic/cloudbeat

allure report comment (#54)
  .github/workflows/publish-test-results.yml
Owners: @elastic/cloudbeat

update just file
  justfile
Owners: @elastic/cloudbeat

use ag mocks
  launcher/launcher_test.go
Owners: @elastic/cloudbeat

Update publish-test-results.yml
  .github/workflows/publish-test-results.yml
Owners: @elastic/cloudbeat

Update EKS deployment (#979)
  deploy/eks/Readme.md
  deploy/eks/simple-cluster.yml
Owners: @elastic/csp-ops

Update .buildkite/README.md
  .buildkite/README.md
Owners: @elastic/csp-ops
