Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Update policy.go (#875)
  version/policy.go
Owners: @elastic/cloudbeat

AWS functional tests post-merge CI (#841)
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/aws.creds
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
  deploy/kustomize/overlays/cloudbeat-aws/kustomization.yml
  deploy/kustomize/overlays/cloudbeat-aws/patches/patch-elastic-creds.yml
  justfile
  tests/configuration.py
  tests/deploy/values/ci-aws-services.yml
  tests/integration/tests/test_cloudbeat_integration.py
  tests/product/tests/data/aws/aws_ec2_test_cases.py
  tests/product/tests/data/aws/aws_iam_test_cases.py
  tests/product/tests/data/aws/aws_logging_test_cases.py
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
Owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

add tmate session and skip tests
  .github/workflows/k8s-ci.yml
  tests/integration/tests/conftest.py
Owners: @elastic/cloudbeat, @elastic/csp-automation

Add region to all CIS AWS resources
  resources/fetchers/iam_fetcher.go
  resources/fetchers/kms_fetcher.go
  resources/fetchers/logging_fetcher.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/network_fetcher.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/s3_fetcher.go
  resources/providers/aws_cis/logging/provider.go
  resources/providers/awslib/aws.go
  resources/providers/awslib/configservice/configservice.go
  resources/providers/awslib/ec2/ebs_encryption.go
  resources/providers/awslib/ec2/nacl.go
  resources/providers/awslib/ec2/security_group.go
  resources/providers/awslib/ec2/vpc.go
  resources/providers/awslib/iam/password_policy.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/kms/kms.go
  resources/providers/awslib/kms/provider.go
  resources/providers/awslib/mock_aws_resource.go
  resources/providers/awslib/multi_region_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/rds.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/s3.go
  resources/providers/awslib/securityhub/securityhub.go
Owners: @elastic/cloudbeat

Fetch AWSSupportAccess policy to implement CIS 1.17
  resources/fetchers/iam_fetcher.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

typo
  resources/fetchers/iam_fetcher.go
Owners: @elastic/cloudbeat

fix test
  go.mod
  resources/fetchers/iam_fetcher_test.go
Owners: @elastic/cloudbeat

fix version
  vulnerability/events_creator.go
  vulnerability/events_creator_test.go
Owners: @elastic/cloudbeat

add header
  vulnerability/events_creator_test.go
Owners: @elastic/cloudbeat

Vulnerability management - Fix version fallback logic (#887)
  vulnerability/events_creator.go
  vulnerability/events_creator_test.go
Owners: @elastic/cloudbeat

Pull available data sources
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Order change
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

Vulnerability pull available CVSS data sources (#888)
  vulnerability/events_creator.go
Owners: @elastic/cloudbeat

add go cli
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
  go.mod
  go.sum
Owners: @elastic/csp-ops, @elastic/cloudbeat

prepare to review
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

read template
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

update timeout for CSPM AWS tests
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
Owners: @elastic/cloudbeat, @elastic/csp-ops

accept env
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

update flow - add KIND_CONFIG env
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

update flow run-tests action
  .github/workflows/k8s-ci.yml
Owners: @elastic/cloudbeat

update just command
  justfile
Owners: @elastic/cloudbeat

check error
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

replace deprecated
  deploy/cloudformation/godev.go
  deploy/cloudformation/gomain.go
Owners: @elastic/csp-ops

remove py and bash old scripts
  deploy/cloudformation/create-stack.sh
  deploy/cloudformation/generate_dev.py
Owners: @elastic/csp-ops

aws functional tests documentation
  tests/README.md
Owners: @elastic/csp-automation

justfile: Add recipe to disconnect elastic stack (#835)
  .ci/scripts/connect_kind.sh
  dev-docs/Cloudbeat-Deployment.md
  justfile
Owners: @elastic/csp-ops, @elastic/cloudbeat

Fetch AWSSupportAccess policy to implement CIS 1.17 (#877)
  go.mod
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/policy_test.go
  resources/providers/awslib/rds/provider.go
Owners: @elastic/cloudbeat

modify cf
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Fetch public accessibility data for AWS RDS databases (#880)
  resources/fetchers/rds_factory.go
  resources/fetchers/rds_factory_test.go
  resources/providers/awslib/ec2/ec2.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/mock_elastic_compute.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
  version/policy.go
Owners: @elastic/cloudbeat

Fix tests
  resources/fetchers/monitoring_fetcher_test.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/s3/provider_test.go
Owners: @elastic/cloudbeat

Fix tests
  resources/providers/awslib/kms/provider_test.go
Owners: @elastic/cloudbeat

Fix tests
  resources/providers/awslib/kms/provider_test.go
Owners: @elastic/cloudbeat

update opa
  go.mod
  go.sum
Owners: @elastic/cloudbeat

Add region to all CIS AWS resources (#883)
  resources/fetchers/iam_fetcher.go
  resources/fetchers/kms_fetcher.go
  resources/fetchers/logging_fetcher.go
  resources/fetchers/monitoring_fetcher.go
  resources/fetchers/monitoring_fetcher_test.go
  resources/fetchers/network_fetcher.go
  resources/fetchers/rds_fetcher.go
  resources/fetchers/s3_fetcher.go
  resources/providers/aws_cis/logging/provider.go
  resources/providers/awslib/aws.go
  resources/providers/awslib/configservice/configservice.go
  resources/providers/awslib/ec2/ebs_encryption.go
  resources/providers/awslib/ec2/nacl.go
  resources/providers/awslib/ec2/security_group.go
  resources/providers/awslib/ec2/vpc.go
  resources/providers/awslib/iam/password_policy.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/kms/kms.go
  resources/providers/awslib/kms/provider.go
  resources/providers/awslib/kms/provider_test.go
  resources/providers/awslib/mock_aws_resource.go
  resources/providers/awslib/multi_region_test.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/awslib/rds/rds.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
  resources/providers/awslib/securityhub/securityhub.go
Owners: @elastic/cloudbeat

add test
  resources/providers/awslib/iam/server_certificates_test.go
Owners: @elastic/cloudbeat

Add ListServerCertificates to iam-fetcher
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/server_cerfiticates.go
Owners: @elastic/cloudbeat

add GetRegion
  resources/providers/awslib/iam/server_cerfiticates.go
Owners: @elastic/cloudbeat

Fetch AWS iam server-certificates (#892)
  resources/fetchers/iam_factory.go
  resources/fetchers/iam_fetcher.go
  resources/fetchers/iam_fetcher_test.go
  resources/fetching/fetcher.go
  resources/providers/awslib/iam/iam.go
  resources/providers/awslib/iam/mock_access_management.go
  resources/providers/awslib/iam/mock_client.go
  resources/providers/awslib/iam/server_cerfiticates.go
  resources/providers/awslib/iam/server_certificates_test.go
Owners: @elastic/cloudbeat

Update policy.go
  version/policy.go
Owners: @elastic/cloudbeat

Update policy.go (#895)
  version/policy.go
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
