Repository elastic/cloudbeat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/cloudbeat, @elastic/csp-ops, @elastic/csp-automation

Updating alert command
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

update timeout and schema
  flavors/posture.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
Owners: @elastic/cloudbeat

Trying to reduce ci time in Cloudbeat
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Trying to fix retry await
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

remove race flag
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

cache go deps
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

fix description
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Reduce time in Cloudbeat CI (#773)
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

Set up go action to handle go caching
  .github/workflows/Periodic-CI.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/unit-test.yml
Owners: @elastic/cloudbeat

check diff on cft
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

Update daily environment to use 8.7 SNAPSHOT (#758)
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/main.tf
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/data/package_policy_vanilla.json
  deploy/weekly-environment/variables.tf
Owners: @elastic/cloudbeat, @elastic/csp-ops

Trying to fix authentication
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

manifest file
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/manifest.yaml
Owners: @elastic/csp-ops

test change file
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Revert "test change file"
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

Revert "Revert "test change file""
  deploy/cloudformation/elastic-agent-ec2.yml
Owners: @elastic/csp-ops

set file name
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

dashcase
  .github/workflows/publish-artifacts.yml
Owners: @elastic/cloudbeat

Add verbose to curl
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

Update image policy to All
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/manifest.yaml
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

Revert kspm vanilla code
  deploy/weekly-environment/scripts/benchmarks/kspm_vanilla/install-kspm-vanilla-integration.sh
Owners: @elastic/csp-ops

Adding new script to count the number of results
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/general/check_latest_index.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

Adding hard-coded paramters
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding hard-coded paramters
  deploy/weekly-environment/scripts/general/check_latest_index.sh
Owners: @elastic/csp-ops

Removing working directory
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to fix the job
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to fix the job
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Trying to fix the job
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

adding manifest.yaml
  deploy/weekly-environment/scripts/general/manifest.yaml
Owners: @elastic/csp-ops

Update image policy
  deploy/weekly-environment/scripts/general/manifest.yaml
  deploy/weekly-environment/scripts/utils.sh
Owners: @elastic/csp-ops

Removing authentication
  .github/workflows/weekly-enviroment.yml
Owners: @elastic/cloudbeat

Adding README.md to the weekly job
  deploy/weekly-environment/README.md
Owners: @elastic/csp-ops

Updating job to use script
  .github/workflows/weekly-enviroment.yml
  deploy/weekly-environment/scripts/general/check_latest_index.sh
  deploy/weekly-environment/scripts/health_checks/count_latest_index_result.sh
Owners: @elastic/cloudbeat, @elastic/csp-ops

modify s3 provider
  resources/fetchers/s3_fetcher_test.go
  resources/providers/awslib/s3/provider.go
  resources/providers/awslib/s3/provider_test.go
  resources/providers/awslib/s3/s3.go
Owners: @elastic/cloudbeat

Add permission to file
  deploy/weekly-environment/scripts/health_checks/count_latest_index_result.sh
Owners: @elastic/csp-ops

Update rules files
  deploy/weekly-environment/scripts/alerts/data/vanilla_rules.ndjson
Owners: @elastic/csp-ops

Self review
  deploy/cloud/data/rules.ndjson
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
  deploy/weekly-environment/scripts/health_checks/count_latest_index_result.sh
Owners: @elastic/csp-ops

Finished self review
  deploy/weekly-environment/scripts/alerts/create_alerts.sh
  deploy/weekly-environment/scripts/health_checks/count_latest_index_result.sh
Owners: @elastic/csp-ops

update comment
  flavors/posture.go
Owners: @elastic/cloudbeat

version bump
  version/policy.go
Owners: @elastic/cloudbeat

.github/CODEOWNERS:

# All
* @elastic/cloudbeat

# Infra & ops related
/deploy/ @elastic/csp-ops
.ci/  @elastic/csp-ops
Jenkinsfile  @elastic/csp-ops

# Automation tests
/tests/ @elastic/csp-automation
